<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recuperação de Senha - {{name}}</title>
</head>
<body>
    <p>Olá {{name}},</p>
    <p>Recebemos uma solicitação para redefinir sua senha. Aqui está seu código:</p>
    <p><strong>{{codigo}}</strong></string></p>
    <p>Se você não solicitou uma redefinição de senha, entre em contato com a nossa equipe.</p>
    <p>Atenciosamente,</p>
    <p>Smarthire</p>
</body>
</html>
